.options{
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
    flex-direction: column;
    padding: 1rem 0;
}
input{
    margin:10px 10px 10px 10px;
}
.show-result{
    visibility: hidden;
}